<h1>Questions#answers</h1>
<p>Find me in app/views/questions/answer.html.erb</p>
<div class= wraper>
<div class="question">
<p>  <%= @question %> <br>- You</p>
</div>

<hr>
<div class="answer">
<p> <%= @answer %>  <br> - The Coach</p>
</div>


</div>

<a href="/ask" class="btn btn-primary"> Ask another question to the coach</a>

